html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #b9d9eb;
}

/*header*/
.headerBar {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    text-decoration: none;
    justify-content: space-between;
    font-family: monospace;
}

/*header text*/
.title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Proxima Nova';
    color: #112A46;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
}

.container {
    display: flex;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.greeting {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Proxima Nova';
    max-width: 300 px;
}