html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #b9d9eb;
}

/*header*/
.headerBar {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 100vw;
    position: fixed;
}

/*header text*/
.title {
    display: flex;
    text-align: left;
    justify-content: space-between;
    font-family: 'Proxima Nova';
    color: #112A46;
    font-size: xx-large;
    margin-left: 30px;
}

i {
    display: flex;
    text-align: bottom;
    justify-content: center;
    font-family: 'Proxima Nova';
    font-size: small;
    color: #112A46;
}